
body {
	background: #eee;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.4285em;
	color: rgba(0,0,0,.87);
}

table {
	display: block;
	width: auto;
	margin: 1em;
	border: 1px solid rgba(34,36,38,.15);
	box-shadow: none;
	border-radius: .28571429rem;
	text-align: left;
	color: rgba(0,0,0,.87);
	border-collapse: separate;
	border-spacing: 0;
}

table th {
    cursor: auto;
    background: #f9fafb;
    text-align: inherit;
    color: rgba(0,0,0,.87);
    padding: .92857143em .71428571em;
    vertical-align: inherit;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-bottom: 1px solid rgba(34,36,38,.1);
    border-left: none;
}

table td {
    padding: .71428571em;
    text-align: inherit;
}